:root {
    --color1: grey;
    --color2: red;
}




section{	
	max-width: 300px;
	background-color: var(--color1);
	border: 1px solid black;
	margin:18% 15% 20% 35%;
	list-style: none;
}


li:hover{
	width:100%;
	background-color: var(--color2);
}

.to-do{
	gap: .5%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin:1% 0 1% 0;
}

